/*
 Shamelessly stolen from "Here, There, and Everywhere",
 including but not limited to "bootstrap", "stack overflow", 
 "Mike Dane", "w3schools", et al.
 */

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

/* See https://www.w3schools.com/colors/colors_hsl.asp              */
/* See https://www.quackit.com/css/color/charts/hsl_color_chart.cfm */
.plainclass{
  color:            hsl(0, 100%, 100%);
  background-color: hsl(0, 10%, 10%);
  line-height:      120%;
  font-family:      monospace,courier;
}

.plainclass li {
  line-height:      140%;
}

.plainclass h1 {
  color:            hsl(100, 50%, 50%);
}

.plainclass h2 {
  color:            hsl(100, 50%, 50%);
}

.plainclass h3 {
  color:            hsl(100, 50%, 50%);
}

.container {
  max-width:    70%;
  margin:       0 auto;
  font-size:    1em;
  text-align:   justify;
}

.container a {
  color: #a0a0a0;
}

.container a:hover {
  color: #f0f0f0;
}

.row {
}

.column {
  float:            left;
  display:          inline-block;
  background:       #808080;
  height:           130px;
  width:            100%;
  padding-top:      10px;
  padding-bottom:   10px;
  padding-left:     10px;
  padding-right:    10px;
  text-align:       left;
}

.left {
  width:            130px;
}

.right {
  height:           105px;
  width:            calc(100% - 200px);
  padding-top:      40px;
  padding-bottom:   5px;
  padding-left:     30px;
  font-size:        1.4em;
  font-weight:      bold;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.navbar {
  font-size:        0.8em;
  border-width:     0px;
  margin:           0px;
  background-color: #6f42c1;
}

.navbar ul li {
  display:          inline-block;
  padding:          11px;
}

.navbar ul li a {
  text-decoration:  none;
}

.navbar ul li a:hover {
  background-color: hsla(255,   100%,   50%, 1);
  font-size:        1.15em;
  font-weight:      bold;
  padding:          2px;
}



@media screen and (max-width:768px) {
  ul {
    margin: 0;
    padding: 0;
  }
  #navbar ul li {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  #navbar ul li a {
    margin: 0;
    padding: 0;
  }
  #menu {
    display: none;
  }
  #maincontent {
    width: 100%;
    padding: 0;
  }
  h1 {
    font-size: 1em;
  }
}

/*
 ************************************************************
 */


